* {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../imges/crypto_background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #a2ff00;
}

.order-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.order-form {
  margin-top: 20px;
  background: linear-gradient(135deg, #6a0dad, #32cd32);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  color: white;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background: #6a0dad;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #32cd32;
}

.disclaimer {
  margin-top: 20px;
  font-size: 14px;
  color: red;
  font-weight: bold;
}

.time-restriction {
  background-color: #ff5722;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  display: none;
}

.exchange-rates {
  margin-top: 20px;
  padding: 20px;
  background-color: #32cd32;
  color: black;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  margin-top: 30px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.auto-calculate {
  color: #a2ff00;
  font-weight: bold;
  margin-top: 10px;
}

.order-number {
  background-color: #6a0dad;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#submitBtn {
  display: none;
}

/* إخفاء الخيارات الغير مرتبطة بالعملة */
.egp-option {
  display: none;
}

.sdg-option {
  display: none;
}

.show-options .egp-option,
.show-options .sdg-option {
  display: block;
}
